.product-second {
  padding-top: 50px;
  padding-bottom: 111px;
}

.product-second-title {
  padding-bottom: 51px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 3.90788e-8px;
  text-transform: uppercase;
  color: #002d69;
}

.product-second-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 42px;
  padding-bottom: 51px;
}

.product-second-wrapper img {
  width: 100%;
  height: 393px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-second-wrapper figcaption {
  padding-top: 25px;
  font-family: "Lato";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 3.90788e-8px;
  text-transform: uppercase;
  color: #002d69;
}

.product-second-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
