.customer {
    padding-bottom: 74px;
    h2 {
        font-family: "Lato";
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 3.90788e-8px;
        text-transform: uppercase;
        color: #002d69;
        margin-bottom: 45px;
    }
    &-grid {
        grid-gap: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &-item {
        border: 1px solid #dadada;
        background: #ffffff;
        padding: 17px;

        &-text {
            padding-top: 20px;
            font-family: "Open Sans";
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 1.48872e-8px;
            color: #343434;
        }

        &-title {
            padding-top: 23px;
            font-family: "Open Sans";
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1.48872e-8px;
            color: #000000;
            text-align: center;
        }
    }
}
