.showcase {
    &-inner {

        &-picture {
            img {
                width: 100%;
                height: calc(100vh - 97px);
                object-fit: cover;
            }
        }
    }
}
